<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Turma</th>
            <th>Nota</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ana Silva</td>
            <td>14</td>
            <td>9A</td>
            <td>95</td>
        </tr>
        <tr>
            <td>Bruno Souza</td>
            <td>15</td>
            <td>9B</td>
            <td>92</td>
        </tr>
        <tr>
            <td>Carla Mendes</td>
            <td>14</td>
            <td>9A</td>
            <td>98</td>
        </tr>
        <tr>
            <td>Diego Lima</td>
            <td>15</td>
            <td>9B</td>
            <td>89</td>
        </tr>
        <tr>
            <td>Eduarda Pereira</td>
            <td>14</td>
            <td>9A</td>
            <td>85</td>
        </tr>
        <tr>
            <td>Felipe Gonçalves</td>
            <td>15</td>
            <td>9B</td>
            <td>87</td>
        </tr>
        <tr>
            <td>Gabriela Fernandes</td>
            <td>14</td>
            <td>9A</td>
            <td>94</td>
        </tr>
        <tr>
            <td>Henrique Costa</td>
            <td>15</td>
            <td>9B</td>
            <td>90</td>
        </tr>
    </tbody>
</table>