<!--Exemplo de utilização do componente de card do Angular Material.-->
<mat-card class="example-card" appearance="outlined">
  <!-- Cabeçalho do card. -->
  <mat-card-header>
    <!-- Título do card. -->
    <mat-card-title class="title-card">Login</mat-card-title>
  </mat-card-header>
  <!-- Conteúdo do card. -->
  <mat-card-content>
    <form>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Nome:</mat-label>
          <input matInput placeholder="Digite seu nome" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Senha: </mat-label>
          <input matInput placeholder="Digite sua senha" />
        </mat-form-field>
      </div>
      <button class="btn">Entrar</button>
    </form>
  </mat-card-content>
</mat-card>
<br />
<br />
<br />

<!-- Representar um layout em flexbox com 5 itens, todos um ao lado do outro. -->
<div class="flex-container">
  <div class="item">Item 1</div>
  <div class="item">Item 2</div>
  <div class="item">Item 3</div>
  <div class="item">Item 4</div>
  <div class="item">Item 5</div>
</div>
<br />
<br />
<br />

<!-- Representar um layout em grid com 5 itens. -->
<div class="grid-container">
  <div class="item">Item 1</div>
  <div class="item">Item 2</div>
  <div class="item">Item 3</div>
  <!-- O item 4 deve ocupar 2 colunas. -->
  <div class="item row-2">Item 4</div>
  <!-- O item 5 deve ocupar 2 linhas e 2 colunas. -->
  <div class="item col-2 row-2">Item 5</div>
</div>
